*{
    margin:0; padding:0;
    color:#f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body{
    overflow: hidden;
 

}

nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #000000;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
}

/* Styling Logo*/

.logo{
    padding: 3vh 3vw;
    text-align: left;
    width: 20vw;
}

.logo img{
    height: auto;
    width: 4rem;
}

/* Styling Navigation Links*/

.nav-links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}

.nav-links li a:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.nav-links li{
    position:relative;
}

.nav-links li a:hover::before{
    width: 80%;
}


/*Buttons Styling*/

.login-button{
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size:1rem;
    cursor:pointer;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    border-radius: 2em;
}

.login-button:hover{
    color:#fff;
    background-color: #dd5f24;
    border:1.5px solid #dd5f24;
    transition: all ease-in-out 350ms;
}

/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.4s ease;
    }
    .nav-links{
        background: #000000;
        position: fixed;
        opacity: 1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.4s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.4s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.4s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.4s ease 0.4s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.4s ease 0.7s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.4s ease 0.8s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.4s ease 1s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    /* Navigation Bar Icon on Click*/

        .toggle .bars1{
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .bars2{
            transition: all 0s ease;
            width: 0;
        }

        .toggle .bars3{
            transform: rotate(45deg) translate(-5px, -6px);
        }

}


.seletor_de_opcoes{
    background-color: #000000;
}
section {
    padding-top: 150px;
    padding-left: 50px;
    background: linear-gradient( 217deg,
    rgb(143, 7, 197),
    rgb(131, 6, 180),
    rgb(125, 13, 170),
    rgb(109, 10, 148),
    rgb(143, 7, 130),
    rgb(143, 7, 120)
                          );


}
.oferta h1{
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    padding-bottom: 30px;
    border-color: black;
}
.oferta p {
    padding-top: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.botão {
    border-radius: 10px;
    padding-left: 50px;
    padding-bottom: 25px;
    
}
.primeiro{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 10px;
    padding-right: 10px;
    background: rgb(136, 136, 241);
    transition: all 0.5s;
	position: relative;	
}
.primeiro span{
    z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.primeiro::before{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(139, 37, 165, 0.233);
	background-color: rgba(160, 6, 231, 0.253);
}
.primeiro::after{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(178, 17, 199, 0.178);
	background-color: rgba(214, 14, 241, 0.171);
}
.primeiro:hover::before{
    transform: rotate(-45deg);
    background-color: rgba(165, 4, 228, 0.226);
}
.primeiro:hover::after{
    transform: rotate(45deg);
  background-color: rgba(214, 9, 255, 0.226);
}
.primeiro:hover{
    cursor: pointer;
    color: black;
    background: blueviolet;
    font-size: 20px;
    text-decoration-line:underline;
    transform-style: flat;
    animation-play-state: running;
    
}
.segundo{
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background: rgb(177, 132, 214);
    border-color: #000000;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #0f5ef1 50%, transparent 50%);
    background-image: linear-gradient(45deg, #06beec 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    
}
.segundo:hover{
    cursor: pointer;
    color: #000000;
    background: rgb(88, 88, 221);
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-position: 0;
}
.termos{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.porque{
    background: #f2f5f7;
}
.porque h1{
    color: #000;
    text-align: center;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: auto;
}

